div#MarketGidComposite405 { display:none !important; }
div#MarketGidScriptRootC32915 { display:none !important; }
div#MarketGidComposite21786 { display:none !important; }
div#lx_7067 { display:none !important; }
zdiv#footer { background:none !important; }
div#footer .l_bar { display:none !important; }
div#footer .r_bar { display:none !important; }
div.logo_new { display:none !important; }
div.rb_new { display:none !important; }
div.bx2_0 { background:none !important; }
div#lx_400584 { display:none !important; }
div#lx_399589 { display:none !important; }
